@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --purple-100-color: #F5EFFF;
    --purple-200-color: #E5D9F2;
    --purple-300-color: #CDC1FF;
    --purple-400-color: #A294F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

body {
    font-family: "Lexend Giga", serif;
}